<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.cookie.js"
            th:src="@{/js/libs/jquery.cookie.js}"></script>
    <script src="/static/js/authorization_check.js" th:src="@{/js/authorization_check.js}"></script>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" th:href="@{/css/common.css}">
    <script type="text/javascript" src="/static/js/header.js" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" src="/static/js/sidebar.js" th:src="@{/js/sidebar.js}"></script>
    <script type="text/javascript" src="/static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <title>Tags</title>
</head>
<body>
<header class="p-3 bg-light sticky-top">
    <jm-header></jm-header>
</header>

<div class="d-flex">
    <aside>
        <jm-sidebar></jm-sidebar>
    </aside>
    <main class="container">
        <div class="d-flex">
            <div id="mainbar-full">
                <br>
                <h1 class="fs-headline1 mb16">
                    Теги
                </h1>

                <p class="fs-body2 wmx6 mb16">
                    Тег - это ключевое слово или метка, которая объединяет ваш вопрос с другими похожими вопросами. Если
                    вы
                    используете
                    теги правильно, другие пользователи быстрее найдут ваш вопрос и ответят на него.
                </p>

                <div class="d-flex fw-wrap gs4 mb24 ai-center">

                    <a class="flex--item s-link fs-body1" href="/*">Показать все синонимы тегов</a>
                </div>

                <div class="d-flex fw-wrap">
                    <div class="flex--item ps-relative mb12">
                        <input id="tagfilter" class="s-input s-input__search h100" autocomplete="off" name="tagfilter"
                               type="text" maxlength="35" placeholder="Фильтр по тегу" autofocus>
                        <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                             height="18" viewBox="0 0 18 18">
                            <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 112 7a5 5 0 0110 0Z"/>
                        </svg>
                    </div>

                    <div class="flex--item ml-auto mb12 d-flex s-btn-group js-filter-btn">
                        <a class="youarehere is-selected flex--item s-btn s-btn__muted s-btn__outlined" href="/*"
                           data-nav-xhref="" title="most popular tags" data-value="popular" data-shortcut="">
                            Популярные</a>
                        <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref=""
                           title="tags in alphabetical order" data-value="name" data-shortcut="">
                            Имя</a>
                        <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref=""
                           title="recently created tags" data-value="new" data-shortcut="">
                            Новые</a>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">java</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по java.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">javascript</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по js.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">python</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по python.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">php</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по php.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">java</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по java.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">javascript</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по js.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">python</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по python.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">php</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по php.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">java</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по java.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">javascript</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по js.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">python</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по python.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">php</a>
                                <p class="card-text">Используйте этот тэг для поиска вопросов по php.</p>
                                <div class="flex--item">100 вопросов</div>
                            </div>
                        </div>
                    </div>

                </div>
<br>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Пред</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">След</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
<footer class="footer mt-auto bg-light" style="margin-left: 200px">
    <jm-footer></jm-footer>
</footer>
</body>
</html>