<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/libs/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/authorization_check.js}"></script>
    <script type="text/javascript" src="/static/js/header.js" th:src="@{/js/header.js}"></script>
    <script type="text/javascript" src="/static/js/sidebar.js" th:src="@{/js/sidebar.js}"></script>
    <script type="text/javascript" src="/static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/users.css" th:href="@{/css/users.css}">
</head>

<body class="users-page unified-theme">

<header class="p-3 bg-light sticky-top">
    <jm-header></jm-header>
</header>

<div class="d-flex">
    <aside class="p-3 bg-light" style="width: 200px;position: sticky; top: 20%; height: 100%">
        <jm-sidebar></jm-sidebar>
    </aside>

    <div id="content" class="snippet-hidden">

        <div id="mainbar-full">
            <h1 class="fs-headline1 mb24">Users</h1>
            <div class="d-flex fw-wrap ai-stretch md:d-block">
                <div class="flex--item mb12 ps-relative">
                    <input id="userfilter" name="userfilter" class="s-input s-input__search h100 wmx3" autocomplete="off" type="text" placeholder="Filter by user">
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
                        <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 112 7a5 5 0 0110 0Z"></path></svg>
                </div>

                <div class="flex--item ml-auto mb12 h100 d-flex s-btn-group js-filter-btn">
                    <a class="youarehere is-selected flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users with the highest reputation scores" data-value="reputation" data-shortcut="">
                        Reputation</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who joined in the last 30 days" data-value="newusers" data-shortcut="">
                        New users</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who voted more than 10 times" data-value="voters" data-shortcut="">
                        Voters</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who edited at least 5 posts" data-value="editors" data-shortcut="">
                        Editors</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Our current community moderators" data-value="moderators" data-shortcut="">
                        Moderators</a>
                </div>
            </div>
            <br>

            <div class="fs-body2 mt8 mb12">
                <div class="d-flex jc-space-between">
                    <div class="flex--item ml-auto md:ml0">
                        <div id="tabs-interval" class="subtabs">
                            <a class="youarehere is-selected " href="/*;filter=week" data-nav-xhref="" title="2021-12-05 to today" data-value="week" data-shortcut="">
                                week</a>
                            <a class="" href="/*;filter=month" data-nav-xhref="" title="2021-12-01 to today" data-value="month" data-shortcut="">
                                month</a>
                            <a class="" href="/*;filter=quarter" data-nav-xhref="" title="2021-10-01 to today" data-value="quarter" data-shortcut="">
                                quarter</a>
                            <a class="" href="/*;filter=year" data-nav-xhref="" title="2021-01-01 to today" data-value="year" data-shortcut="">
                                year</a>
                            <a class="" href="/*;filter=all" data-nav-xhref="" title="2000-01-01 to today" data-value="all" data-shortcut="">
                                all</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div id="user-browser">
                <table id="table"></table>
                <div class="pagenumbers s-pagination pager float-right" id="pagination"></div>
            </div>

            <div id="users-legend" style="float: left; margin-top: 25px; margin-bottom: 10px;">
                <b><a href="https://stackexchange.com/leagues/week/stackoverflow">weekly / monthly / quarterly reputation leagues</a></b>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto bg-light" style="margin-left: 200px">
    <jm-footer></jm-footer>
</footer>

<script type="text/javascript" th:src="@{/js/pagination.js}"></script>
<script>
    async function displayList(wrapper, page) {
        const items = await getItemsForPage()
        wrapper.innerHTML = "";
        page--;
        for (let note in items) {
            let tr = document.createElement('tr');
            tr.classList.add('user-info');

            tr.innerHTML =
                '<div class="user-gravatar48">' +
                '        <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/Xu7hp.jpg?s=96&g=1" alt="" width="48" height="48" class="bar-sm"></div></a>' +
                '</div>' +
                '<div class="user-details">' +
                '    <a href="/*">' + items[note]['nickname'] +'</a>' +
                '    <span class="user-location">' + items[note]['city'] + '</span>' +
                '    <div class="-flair">' +
                '        <span class="reputation-score" title="reputation: ' + items[note]['reputation'] + ' total reputation: ' + items[note]['reputationLong'] + '" dir="ltr">' + items[note]['reputation'] + '</span>' +
                '     </div>' +
                '</div>' +
                '<div class="user-tags"></div>';

            wrapper.appendChild(tr)
        }
    }

    async function paginationButton(page) {
        let a = document.createElement('a');
        a.innerText = page;
        a.classList.add('a-pagination--item');

        if (valueOfCurrentPage === page)
            a.classList.add('a-is-selected');

        a.addEventListener('click', async function (e) {
            e.preventDefault();
            valueOfCurrentPage = page;
            await displayList(table_element, valueOfCurrentPage);
            let current_btn = document.querySelector('.pagenumbers a.a-is-selected');
            current_btn.classList.remove('a-is-selected');
            a.classList.add('a-is-selected');
        });
        return a;
    }

    $(document).ready(function () {
        sendUrlAndNumberOfRows('/api/user/reputation', 36);
    })
</script>
</body>
</html>
