<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script src="/static/js/authorization_check.js" th:src="@{/js/authorization_check.js}"></script>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/users.css" th:href="@{/css/users.css}">
</head>

<body class="users-page unified-theme">

<header class="p-3 bg-light sticky-top">
    <jm-header></jm-header>
</header>

<div class="d-flex">
    <aside class="p-3 bg-light" style="width: 200px;position: sticky; top: 20%; height: 100%">
        <jm-sidebar></jm-sidebar>
    </aside>

    <div id="content" class="snippet-hidden">

        <div id="mainbar-full">

            <h1 class="fs-headline1 mb24">
                Users
            </h1>

            <div class="d-flex fw-wrap ai-stretch md:d-block">
                <div class="flex--item mb12 ps-relative">
                    <input id="userfilter" name="userfilter" class="s-input s-input__search h100 wmx3" autocomplete="off" type="text" placeholder="Filter by user">
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
                        <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 112 7a5 5 0 0110 0Z"></path></svg>
                </div>

                <div class="flex--item ml-auto mb12 h100 d-flex s-btn-group js-filter-btn">
                    <a class="youarehere is-selected flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users with the highest reputation scores" data-value="reputation" data-shortcut="">
                        Reputation</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who joined in the last 30 days" data-value="newusers" data-shortcut="">
                        New users</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who voted more than 10 times" data-value="voters" data-shortcut="">
                        Voters</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Users who edited at least 5 posts" data-value="editors" data-shortcut="">
                        Editors</a>
                    <a class="flex--item s-btn s-btn__muted s-btn__outlined" href="/*" data-nav-xhref="" title="Our current community moderators" data-value="moderators" data-shortcut="">
                        Moderators</a>
                </div>
            </div>
            <br>

            <div class="fs-body2 mt8 mb12">

                <div class="d-flex jc-space-between">
                    <div class="flex--item ml-auto md:ml0">
                        <div id="tabs-interval" class="subtabs">
                            <a class="youarehere is-selected " href="/*;filter=week" data-nav-xhref="" title="2021-12-05 to today" data-value="week" data-shortcut="">
                                week</a>
                            <a class="" href="/*;filter=month" data-nav-xhref="" title="2021-12-01 to today" data-value="month" data-shortcut="">
                                month</a>
                            <a class="" href="/*;filter=quarter" data-nav-xhref="" title="2021-10-01 to today" data-value="quarter" data-shortcut="">
                                quarter</a>
                            <a class="" href="/*;filter=year" data-nav-xhref="" title="2021-01-01 to today" data-value="year" data-shortcut="">
                                year</a>
                            <a class="" href="/*;filter=all" data-nav-xhref="" title="2000-01-01 to today" data-value="all" data-shortcut="">
                                all</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div id="user-browser">
                <div class="d-grid grid__4 lg:grid__3 md:grid__2 sm:grid__1 g12">
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48">
                                <img src="https://www.gravatar.com/avatar/69b1bbb91430fc0f2178f9906cb906e0?s=96&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48" class="bar-sm">
                            </div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">brunoff</a>
                            <span class="user-location">São Paulo - State of São Paulo, Brazil</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 573 total reputation: 2,704" dir="ltr">573</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">javascript</a>, <a href="/*">database</a>
                        </div>
                    </div>

                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48">
                                <img src="https://www.gravatar.com/avatar/976f07be84907aad663ce8c1c51cf5c4?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm">
                            </div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Corralien</a>
                            <span class="user-location">Sophia Antipolis, France</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 534 total reputation: 37,535" dir="ltr">534</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">pandas</a>, <a href="/*">python</a>, <a href="/*">dataframe</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/hMDvl.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">jezrael</a>
                            <span class="user-location">Bratislava, Slovakia</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 475 total reputation: 680,480" dir="ltr">475</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">pandas</a>, <a href="/*">python</a>, <a href="/*">dataframe</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">VonC</a>
                            <span class="user-location">France</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 460 total reputation: 1,087,130" dir="ltr">460</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">git</a>, <a href="/*">github</a>, <a href="/*">docker</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Frank van Puffelen</a>
                            <span class="user-location">San Francisco, CA</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 430 total reputation: 462,641" dir="ltr">430</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">firebase</a>, <a href="/*">google-cloud-firestore</a>, <a href="/*">firebase-realtime-database</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Jon Skeet</a>
                            <span class="user-location">Reading, United Kingdom</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 400 total reputation: 1,299,642" dir="ltr">400</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">c#</a>, <a href="/*">java</a>, <a href="/*">.net</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/24780fb6df85a943c7aea0402c843737?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Martijn Pieters</a><span class="mod-flair mtn2" title="Moderator">♦</span>
                            <span class="user-location">Cambridge, UK</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 400 total reputation: 927,573" dir="ltr">400</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">list</a>, <a href="/*">json</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/Xu7hp.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">jfriend00</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 393 total reputation: 609,594" dir="ltr">393</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">node.js</a>, <a href="/*">promise</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">T.J. Crowder</a>
                            <span class="user-location">United Kingdom</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 386 total reputation: 920,472" dir="ltr">386</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">typescript</a>, <a href="/*">function</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/63d17ecdadc8917254be4fb70e86246b?s=96&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Vlad from Moscow</a>
                            <span class="user-location">Moscow, Russia</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 345 total reputation: 243,860" dir="ltr">345</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">c++</a>, <a href="/*">c</a>, <a href="/*">memory</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/0555bd0deb416a320a0069abef08078a?s=96&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">mozway</a>
                            <span class="user-location">Mare Tranquillitatis</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 336 total reputation: 32,464" dir="ltr">336</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">list</a>, <a href="/*">sorting</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/aabc98d5c6482ca0e1405ec97710f30a?s=96&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">unutbu</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 318 total reputation: 746,501" dir="ltr">318</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">pandas</a>, <a href="/*">dataframe</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/EPmGy.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">KamilCuk</a>
                            <span class="user-location">Warsaw, Poland</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 310 total reputation: 84,909" dir="ltr">310</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">bash</a>, <a href="/*">c</a>, <a href="/*">linux</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/7f2c4de95e8f4f8f5a71c3aaf0ed312a?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Bergi</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 309 total reputation: 545,352" dir="ltr">309</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">ecmascript-6</a>, <a href="/*">node.js</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/3b7ad8915f552cd4e23caf38eee10030?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Suragch</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 308 total reputation: 398,654" dir="ltr">308</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">flutter</a>, <a href="/*">dart</a>, <a href="/*">ios</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/Z7q0p.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">CopsOnRoad</a>
                            <span class="user-location">Locating...</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 308 total reputation: 142,940" dir="ltr">308</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">flutter</a>, <a href="/*">dart</a>, <a href="/*">flutter-layout</a>
                        </div>
                    </div>
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Sam Varshavchik</a>
                            <span class="user-location">Basement</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 300 total reputation: 91,970" dir="ltr">300</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">c++</a>, <a href="/*">binary-search-tree</a>, <a href="/*">makefile</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/627edf3b31797186bbb99fda1ffc8ca6?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">user17242583</a>
                            <span class="user-location">US (UTC-06:00)</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 298 total reputation: 5,449" dir="ltr">298</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">pandas</a>, <a href="/*">dataframe</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/PxESv.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">pfx</a>
                            <span class="user-location">Belgium</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 295 total reputation: 12,712" dir="ltr">295</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">c#</a>, <a href="/*">asp.net</a>, <a href="/*">authentication</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/ee6e12042dc31b1ef27471482f9ff91f?s=96&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">akrun</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 290 total reputation: 739,943" dir="ltr">290</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">r</a>, <a href="/*">dplyr</a>, <a href="/*">reshape</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Günter Zöchbauer</a>
                            <span class="user-location">Linz, Austria</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 290 total reputation: 526,462" dir="ltr">290</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">angular</a>, <a href="/*">dart</a>, <a href="/*">flutter</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/a356923f858fbe363dad1dc566837fc6?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Nicol Bolas</a>
                            <span class="user-location"></span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 288 total reputation: 397,484" dir="ltr">288</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">c++</a>, <a href="/*">c++20</a>, <a href="/*">opengl</a>
                        </div>
                    </div>
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/fa1648baa6108c85886312af93bb32c0?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">torek</a>
                            <span class="user-location">Bellingham, WA, USA</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 285 total reputation: 362,095" dir="ltr">285</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">git</a>, <a href="/*">julia</a>, <a href="/*">restore</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Gabriele Mariotti</a>
                            <span class="user-location">Italy</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 283 total reputation: 223,538" dir="ltr">283</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">android</a>, <a href="/*">android-jetpack-compose</a>, <a href="/*">material-components-android</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">trincot</a>
                            <span class="user-location">Belgium</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 279 total reputation: 238,146" dir="ltr">279</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">python</a>, <a href="/*">dictionary</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/1d2d3229ed1961d2bd81853242493247?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Quentin</a>
                            <span class="user-location">United Kingdom</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 276 total reputation: 829,488" dir="ltr">276</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">html</a>, <a href="/*">css</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/hjwrE.png?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Shepmaster</a>
                            <span class="user-location">Pittsburgh, PA</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 270 total reputation: 300,921" dir="ltr">270</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">rust</a>, <a href="/*">string</a>, <a href="/*">reference</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/39f6e2dc52425b1e08027c01bb880be0?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">mklement0</a>
                            <span class="user-location">United States</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 270 total reputation: 280,214" dir="ltr">270</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">powershell</a>, <a href="/*">arrays</a>, <a href="/*">member-enumeration</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Wiktor Stribiżew</a>
                            <span class="user-location">Warsaw, Poland</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 268 total reputation: 527,252" dir="ltr">268</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">regex</a>, <a href="/*">lua</a>, <a href="/*">sed</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/LmD3e.png?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">cs95</a>
                            <span class="user-location">At an ipython shell near you</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 268 total reputation: 304,481" dir="ltr">268</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">pandas</a>, <a href="/*">dataframe</a>
                        </div>
                    </div>
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Saeed Shamloo</a>
                            <span class="user-location">Tehran</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 261 total reputation: 262" dir="ltr">261</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">javascript</a>, <a href="/*">reactjs</a>, <a href="/*">html</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/2dceea858ad8f1577bec6ddaa0485d15?s=96&amp;d=identicon&amp;r=PG" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Sven Marnach</a>
                            <span class="user-location">Preetz, Germany</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 260 total reputation: 508,663" dir="ltr">260</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">python</a>, <a href="/*">dictionary</a>, <a href="/*">list</a>
                        </div>
                    </div>
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/L9NB3.png?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">user3840170</a>
                            <span class="user-location">Europe</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 250 total reputation: 17,929" dir="ltr">250</span>
                            </div>
                        </div>
                        <div class="user-tags">

                        </div>
                    </div>
                    <div class="grid--item user-info ">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/9LPTt.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Matriarx</a>
                            <span class="user-location">n/a</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 250 total reputation: 2,469" dir="ltr">250</span>
                            </div>
                        </div>
                        <div class="user-tags">

                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/fhFuT.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="*">hotcakedev</a>
                            <span class="user-location">Remote</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 250 total reputation: 1,469" dir="ltr">250</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">reactjs</a>, <a href="/*">material-ui</a>, <a href="/*">javascript</a>
                        </div>
                    </div>
                    <div class="grid--item user-info  user-hover">
                        <div class="user-gravatar48">
                            <a href="/*"><div class="gravatar-wrapper-48"><img src="https://i.stack.imgur.com/Hx4Fa.jpg?s=96&amp;g=1" alt="" width="48" height="48" class="bar-sm"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/*">Asperi</a>
                            <span class="user-location">Pale blue dot</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation this week: 248 total reputation: 147,327" dir="ltr">248</span>
                            </div>
                        </div>
                        <div class="user-tags">
                            <a href="/*">swiftui</a>, <a href="/*">swift</a>, <a href="/*">ios</a>
                        </div>
                    </div>
                </div>
                <div class="s-pagination site1 themed pager float-right">
                    <div class="s-pagination--item is-selected">1</div>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="" title="Go to page 2">2</a>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="" title="Go to page 3">3</a>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="" title="Go to page 4">4</a>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="" title="Go to page 5">5</a>
                    <div class="s-pagination--item s-pagination--item__clear">…</div>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="" title="Go to page 42">42</a>
                    <a class="s-pagination--item js-pagination-item" href="/*;filter=week" rel="next" title="Go to page 2"> Next</a></div>
            </div>

            <div id="users-legend" style="float: left; margin-top: 25px; margin-bottom: 10px;">
                <b><a href="https://stackexchange.com/leagues/week/stackoverflow">weekly / monthly / quarterly reputation leagues</a></b>
            </div>

        </div>

    </div>
</div>

<footer class="footer mt-auto bg-light" style="margin-left: 200px">
    <jm-footer></jm-footer>
</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/header.js" th:src="@{/js/header.js}"></script>
<script type="text/javascript" src="/static/js/sidebar.js" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" src="/static/js/footer.js" th:src="@{/js/footer.js}"></script>
</body>
</html>